<%= form_for @ques, url:{action:"create"} do |f|%>
	<div class="container question-type">
		<div>
			<%=render partial: "addquestion", locals:{f:f}%>
		</div>
	</div>
	<%=f.submit "Create", class:"btn btn-default"%>
	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% end %>
